extends ./layout/_top.jade

block title
  title top｜frontbase
  
block append meta
  link(rel='stylesheet', href='css/style.css')  

block body
  h1.top-title index.jade
  p これは jadeで書かれています  

block append listitems
  li list-item_1
  li list-item_2
  li list-item_3
