doctype html
html.no-js(xmlns:og='http://ogp.me/ns#', xmlns:fb='https://www.facebook.com/2008/fbml')
  head
    meta(charset='UTF-8')
    block title      
      title Default｜frontbase
    block meta
      meta(name='description', content=description)
      meta(name='keywords', content=keywords)
      meta(name='robots', content=robots)
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='view-port', content='width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0')

  body
    header
      include ../partical/_header.jade
  
    block body
      
    ul
      li item prompt
      block listitems
    
    footer
      include ../partical/_footer.jade
